This file is part of matplotlib-tufte, Tufte-style plots for matplotlib.
https://gitlab.com/lemberger/matplotlib-tufte

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
